.fotologo{
    width: 450px;
    height: 65px;
}
.contborde{
    border: solid 3px black;
}
#logo{
    text-align: center;
}
.primerauto{
    width: 450px;
    height: 450px;
}
body{
    background-color: #a0a0a0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}
#carouselExampleIndicators{
    align-items: center;
    justify-content: center;
    text-align: center;
}
#title2{
    text-align: center;
}
.card{
    margin: 20px;
}
#img{
    height: 340px;
}
#imagenes{
    height: 300px;
}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cards{
    margin: 30px;
}